h1{color: rgb(76, 3, 3);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;

}
h2{color: brown;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    

}

.shape{
    position: absolute;
    height: 180px;
    width: 200px;
    transform: translate(50% , 50%);
    overflow: hidden;
}

div{
    width: 50%;
    height: 50%;
    transform: translate(50%,50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#s1{
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    rotate: 8deg;
    z-index: 5;
}

#s2{
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    margin-left: 5px;
    rotate: 16deg;
    z-index: 3;
}
#s3{
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    margin-left: 5px;
    rotate: 24deg;
    z-index: 1;

}
#s1:hover{
    z-index: 10;
}
#s2:hover{
    z-index: 20;
}
#s3:hover{
    z-index: 30;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}