*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    z-index: 10;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items:center ;
}
.texts{
    margin: 15px;
    color: rgb(10, 10, 140);
}
#fakeh{
    height: 10%;
    width: 100%;
    display: flex;
    align-items:center ;
    background-color: #fff;
}
img{
    width: 70px;
    height: 63px;
    object-fit: cover;
}
.login{
    margin: 10px;
    margin-right: 20px;
    color: rgb(10, 10, 140);
}
.try{
    margin: 20px;
    padding: 10px;
    background-color: rgb(93, 209, 93);
    color: rgb(10, 10, 140);
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 140);
}
.contact_us{
    display: flex;
    color: rgb(10, 10, 140);
    font-size: 20px;
}
.contact_number{
    display: flex;
    color: rgb(10, 10, 140);
    font-size: 20px;
}
.both{
    margin: 15px;
    color: rgb(10, 10, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
}
.both > div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.arrow:hover{
    color: rgb(10, 10, 140);
    cursor: pointer;
}
.icon{
    margin:15px;
}
.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon1:hover{
    background-color: #98d8f1;
    border-radius: 50px;
    padding: 2px;
}
.icon :hover{
    background-color: #98d8f1;
    border-radius: 50%;
    padding: 10px;
}
.login :hover{
    background-color: #98d8f1;
    padding: 10px;
    border-radius: 30px;
}
#page1{
    height: 90%;
    width: 100%;
}
#strip{
    height: 35px;
    color: #fff;
    width: 100%;
    background-color: rgb(4, 4, 93);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
#content{
    width: 100%;
    height: 86%;
    display: flex;
}
#box1{
    background-color: #85ecf1;
    height: 75%;
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 20px;
}
#h1{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 50px;
    color: rgb(6, 6, 89);
}
#p{
    margin-top: 10px;
    margin-left: 10px;
}
#button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    margin-top: 20px;
    margin-left: 20px;
    height: 20px;
    width: 180px;
    padding: 20px;
    border-radius: 10px;
    background-color: #56b4e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start:hover{
    background-color: #cfdadf;
    cursor: pointer;
}
#watch:hover{
    background-color: #fdfdfd;
    cursor: pointer;
}
#watch{
    margin-left: 130px;
    margin-top: 20px;
    height: 20px;
    width: 180px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #033b56;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box2{
    height: 75%;
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 25px;
    border-radius: 20px;
    background-color: #f39a9a;  
}
.s1{
    border-style: solid;
    border-color: rgb(159, 6, 6);
    border-radius: 20px;
    overflow: hidden;
}
iframe{
    display: block;
    width: 100%;
    height: 333px;
    border: none;
}
#heading{
    width: 100%;
    height: 16%;
}
#heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 4, 93);
    font-size: 35px;
    font-weight: 600;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: #f9faf9;
}

