
.cont{

    background-color: aquamarine;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 17%;
    margin-left: 35%;
}
input{
    width: 260px;
    height: 42px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;

}
button{
    width: 60px;
    height: 42px;
    border:none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: coral;

}
.text{
    padding: 20px;
    font-size: 22px;
}
.text ul{
    padding: left 200px;    
}